In [7]:
import pandas as pd

In [8]:
cars_df = pd.read_csv('./data/cars.csv')

In [9]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5076 entries, 0 to 5075
Data columns (total 18 columns):
Dimensions.Height                                  5076 non-null int64
Dimensions.Length                                  5076 non-null int64
Dimensions.Width                                   5076 non-null int64
Engine Information.Driveline                       5076 non-null object
Engine Information.Engine Type                     5076 non-null object
Engine Information.Hybrid                          5076 non-null bool
Engine Information.Number of Forward Gears         5076 non-null int64
Engine Information.Transmission                    5076 non-null object
Fuel Information.City mpg                          5076 non-null int64
Fuel Information.Fuel Type                         5076 non-null object
Fuel Information.Highway mpg                       5076 non-null int64
Identification.Classification                      5076 non-null object
Identification.ID                                  5076 non-null object
Identification.Make                                5076 non-null object
Identification.Model Year                          5076 non-null object
Identification.Year                                5076 non-null int64
Engine Information.Engine Statistics.Horsepower    5076 non-null int64
Engine Information.Engine Statistics.Torque        5076 non-null int64
dtypes: bool(1), int64(9), object(8)
memory usage: 679.2+ KB

In [10]:
cars_df.head()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,140,143,202,All-wheel drive,Audi 3.2L 6 cylinder 250hp 236ft-lbs,True,6,6 Speed Automatic Select Shift,18,Gasoline,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009 Audi A3,2009,250,236
1,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,22,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,2009,200,207
2,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Manual,21,Gasoline,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009 Audi A3,2009,200,207
3,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
4,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207

In [5]:
cars_df.tail()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
5071,13,253,201,Front-wheel drive,Honda 3.5L 6 Cylinder 250 hp 253 ft-lbs,True,5,5 Speed Automatic,18,Gasoline,25,Automatic transmission,2012 Honda Pilot EX-L,Honda,2012 Honda Pilot,2012,250,253
5072,141,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo Coupe LP 560-4,Lamborghini,2012 Lamborghini Gallardo Coup,2012,552,398
5073,160,249,108,All-wheel drive,Lamborghini 5.2L 10 cylinder 552 hp 398 ft-lbs,True,6,6 Speed Manual,12,Gasoline,20,Manual transmission,2012 Lamborghini Gallardo LP 560-4 Spyder,Lamborghini,2012 Lamborghini Gallardo Spyder,2012,552,398
5074,200,210,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740i Sedan,BMW,2012 BMW 7 Series,2012,315,330
5075,200,94,110,Rear-wheel drive,BMW 3.0L 6 cylinder 315hp 330 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,17,Gasoline,25,Automatic transmission,2012 BMW 740Li Sedan,BMW,2012 BMW 7 Series,2012,315,330

In [6]:
cars_df.describe()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Fuel Information.Highway mpg,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
count,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000
mean,145.632191,127.825847,144.012411,5.519110,17.275808,24.125493,2010.867612,270.499409,272.707250
std,62.125026,77.358295,79.925899,0.845637,4.479485,6.488293,0.782951,95.293537,100.123328
min,1.000000,2.000000,1.000000,4.000000,8.000000,11.000000,2009.000000,100.000000,98.000000
25%,104.000000,60.000000,62.000000,5.000000,14.000000,20.000000,2010.000000,190.000000,187.000000
50%,152.000000,128.000000,158.000000,6.000000,17.000000,24.000000,2011.000000,266.000000,260.000000
75%,193.000000,198.000000,219.000000,6.000000,20.000000,28.000000,2011.000000,317.000000,335.000000
max,255.000000,255.000000,254.000000,8.000000,38.000000,223.000000,2012.000000,638.000000,774.000000

In [12]:
cars_df_sub = cars_df[['Identification.Make', 'Identification.Year', 'Engine Information.Number of Forward Gears', 'Engine Information.Engine Statistics.Horsepower', 'Identification.Classification']]

In [13]:
cars_df_sub.head()

,Identification.Make,Identification.Year,Engine Information.Number of Forward Gears,Engine Information.Engine Statistics.Horsepower,Identification.Classification
0,Audi,2009,6,250,Automatic transmission
1,Audi,2009,6,200,Automatic transmission
2,Audi,2009,6,200,Manual transmission
3,Audi,2009,6,200,Automatic transmission
4,Audi,2009,6,200,Automatic transmission

In [14]:
cars_df_sub.tail()

,Identification.Make,Identification.Year,Engine Information.Number of Forward Gears,Engine Information.Engine Statistics.Horsepower,Identification.Classification
5071,Honda,2012,5,250,Automatic transmission
5072,Lamborghini,2012,6,552,Manual transmission
5073,Lamborghini,2012,6,552,Manual transmission
5074,BMW,2012,6,315,Automatic transmission
5075,BMW,2012,6,315,Automatic transmission

In [16]:
len(cars_df_sub[cars_df_sub['Identification.Make'] == 'Lamborghini'])

5

In [17]:
cars_df_sub[cars_df_sub['Identification.Make'] == 'Lamborghini']

,Identification.Make,Identification.Year,Engine Information.Number of Forward Gears,Engine Information.Engine Statistics.Horsepower,Identification.Classification
439,Lamborghini,2010,6,550,Manual transmission
449,Lamborghini,2011,6,560,Manual transmission
450,Lamborghini,2011,6,560,Manual transmission
5072,Lamborghini,2012,6,552,Manual transmission
5073,Lamborghini,2012,6,552,Manual transmission

In [18]:
len(cars_df_sub[cars_df_sub['Identification.Make'] == 'Honda'])

200

In [20]:
len(cars_df_sub[(cars_df_sub['Identification.Make'] == 'Honda') & (cars_df_sub['Engine Information.Engine Statistics.Horsepower']== 250)])

26

In [21]:
cars_df_sub[(cars_df_sub['Identification.Make'] == 'Honda') & (cars_df_sub['Engine Information.Engine Statistics.Horsepower']== 250)]

,Identification.Make,Identification.Year,Engine Information.Number of Forward Gears,Engine Information.Engine Statistics.Horsepower,Identification.Classification
1810,Honda,2011,5,250,Automatic transmission
1811,Honda,2011,5,250,Automatic transmission
1812,Honda,2011,5,250,Automatic transmission
1813,Honda,2011,5,250,Automatic transmission
1814,Honda,2011,5,250,Automatic transmission
1815,Honda,2011,5,250,Automatic transmission
1816,Honda,2011,5,250,Automatic transmission
1817,Honda,2011,5,250,Automatic transmission
2223,Honda,2010,5,250,Automatic transmission
2224,Honda,2011,5,250,Automatic transmission
2225,Honda,2010,5,250,Automatic transmission
2226,Honda,2010,5,250,Automatic transmission
2227,Honda,2010,5,250,Automatic transmission
2228,Honda,2010,5,250,Automatic transmission
2229,Honda,2010,5,250,Automatic transmission
2999,Honda,2011,5,250,Automatic transmission
3000,Honda,2011,5,250,Automatic transmission
3001,Honda,2011,5,250,Automatic transmission
3002,Honda,2010,5,250,Automatic transmission
3003,Honda,2010,5,250,Automatic transmission
3004,Honda,2010,5,250,Automatic transmission
5067,Honda,2012,5,250,Automatic transmission
5068,Honda,2012,5,250,Automatic transmission
5069,Honda,2012,5,250,Automatic transmission
5070,Honda,2012,5,250,Automatic transmission
5071,Honda,2012,5,250,Automatic transmission

In [22]:
len(cars_df_sub[(cars_df_sub['Identification.Make'] == 'Toyota') & (cars_df_sub['Engine Information.Number of Forward Gears'] == 4)] )

44

In [23]:
total_df_4g = cars_df_sub[(cars_df_sub['Identification.Make'] == 'Toyota') & (cars_df_sub['Engine Information.Number of Forward Gears'] == 4)]

In [25]:
total_df_4g

,Identification.Make,Identification.Year,Engine Information.Number of Forward Gears,Engine Information.Engine Statistics.Horsepower,Identification.Classification
94,Toyota,2010,4,157,Automatic transmission
246,Toyota,2011,4,132,Automatic transmission
247,Toyota,2011,4,132,Automatic transmission
249,Toyota,2011,4,132,Automatic transmission
292,Toyota,2010,4,132,Automatic transmission
294,Toyota,2010,4,132,Automatic transmission
295,Toyota,2010,4,132,Automatic transmission
296,Toyota,2010,4,132,Automatic transmission
347,Toyota,2011,4,132,Automatic transmission
350,Toyota,2011,4,158,Automatic transmission
365,Toyota,2010,4,132,Automatic transmission
368,Toyota,2010,4,158,Automatic transmission
485,Toyota,2011,4,179,Automatic transmission
486,Toyota,2011,4,179,Automatic transmission
489,Toyota,2011,4,179,Automatic transmission
490,Toyota,2011,4,179,Automatic transmission
493,Toyota,2011,4,179,Automatic transmission
494,Toyota,2011,4,179,Automatic transmission
1196,Toyota,2010,4,179,Automatic transmission
1197,Toyota,2010,4,179,Automatic transmission
1200,Toyota,2010,4,179,Automatic transmission
1201,Toyota,2010,4,179,Automatic transmission
1204,Toyota,2010,4,179,Automatic transmission
1205,Toyota,2010,4,179,Automatic transmission
2039,Toyota,2011,4,106,Automatic transmission
2055,Toyota,2010,4,106,Automatic transmission
2058,Toyota,2011,4,106,Automatic transmission
2081,Toyota,2010,4,106,Automatic transmission
2083,Toyota,2011,4,106,Automatic transmission
2137,Toyota,2010,4,106,Automatic transmission
2139,Toyota,2012,4,106,Automatic transmission
2140,Toyota,2012,4,106,Automatic transmission
2230,Toyota,2012,4,106,Automatic transmission
2231,Toyota,2012,4,106,Automatic transmission
2233,Toyota,2012,4,106,Automatic transmission
3376,Toyota,2011,4,159,Automatic transmission
3378,Toyota,2011,4,159,Automatic transmission
3380,Toyota,2011,4,159,Automatic transmission
3381,Toyota,2011,4,159,Automatic transmission
3384,Toyota,2011,4,159,Automatic transmission
3387,Toyota,2011,4,159,Automatic transmission
3388,Toyota,2011,4,159,Automatic transmission
3400,Toyota,2010,4,159,Automatic transmission
3404,Toyota,2010,4,159,Automatic transmission

In [26]:
total_df_4g.head()

,Identification.Make,Identification.Year,Engine Information.Number of Forward Gears,Engine Information.Engine Statistics.Horsepower,Identification.Classification
94,Toyota,2010,4,157,Automatic transmission
246,Toyota,2011,4,132,Automatic transmission
247,Toyota,2011,4,132,Automatic transmission
249,Toyota,2011,4,132,Automatic transmission
292,Toyota,2010,4,132,Automatic transmission

In [27]:
toyota_df_6g_plus = cars_df_sub[(cars_df_sub['Identification.Make'] == 'Toyota') & (cars_df_sub['Engine Information.Number of Forward Gears'] >= 6)]

In [28]:
len(toyota_df_6g_plus)

170

In [30]:
toyota_df_6g_plus.to_csv('./data/toyota_df_6g_plus.csv')

In [37]:
grouped_cars_sub = cars_df_sub.groupby(by = 'Identification.Make')

grouped_cars_sub.count()